<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Entry</title>
</head>
<body>
    <form action="/foodentry" method="post">
        <input type="number" name="f_id" placeholder="Food ID">
        <input type="number" name="stu_id" placeholder="Student ID">
        <button type="submit">Assign</button>
    </form>
    
</body>
</html>