<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newstaff" method="post">
        <input type="text" name="staff_name" placeholder="Staff Name">
        <input type="text" name="staff_id" placeholder="Staff-ID">
        <input type="text" name="occupation" placeholder="Occupation">
        <input type="number" name="contact" placeholder="Mobile">
        <input type="text" name="mgr_id" placeholder="Manager ID">
        <input type="text" name="line1" placeholder="Address Line 1">
        <input type="text" name="line2" placeholder="Address Line 2">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="number" name="pincode" placeholder="PINCODE">
        <button type="submit">Add Staff</button>
    </form>
</body>
</html>