<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Food</title>
</head>
<body>
    <table>
        <tr>
            <th>Food ID</th>
            <th>Description</th>
            <th>Dish Name</th>
            <th>Price</th>
        </tr>
        <% 
            if(dataa.length!=0){
            var i=1;
            dataa.forEach(data =>{
             %>
             <tr>
                <td><%= data.F_ID %></td>
                <td><%= data.F_DESC %></td>
                <td><%= data.F_NAME %></td>
                <td><%= data.F_PRICE %></td>
            </tr>   
          <% i++  }) %>
        <% } else { %>
            <tr>
                <td colspan="4">No Data found</td>
                </tr>
            <% } %>
    </table>
    
</body>
</html>